<!DOCTYPE html>
<html>

<head>
    {% block head %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>covid19_vis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{#    <link rel="stylesheet" href="assets/css/styles.css">#}
</head>

<body>
    <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}"><span>confirmed</span></a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('serious') }}"><span>serious</span></a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('deceased') }}"><span>deceased</span></a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('recovered') }}"><span>recovered</span></a></li>
        </ol> -->

    <div id="covidmap" style="height: 100vh;">
        {% block body %}{% endblock %}

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</body>

</html>